<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="container">
    <form #searchForm="ngForm" (submit)="search()">
        <div class="row">
            <div class="col-md-6">
                <label id="inputName">Nome do cliente: </label>
                <input type="text" [(ngModel)]="name" name="name" class="form-control" id="inputName">
            </div>

            <div class="col-md-6">
                <label id="inputMes">Mês: </label>
                <select [(ngModel)]="month" class="form-control" name="month">
                    <option value="">Selecione...</option>
                    <option *ngFor="let month of monthList" [value]="month">
                        {{ month }}
                    </option>
                </select>
            </div>
        </div> 
        <br>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>Consultar
                </button>
            </div>
        </div>   
               
    </form>
    <br> 
    <div class="row">
        <div class="alert alert-warning" role="alert" *ngIf="message">
            {{message}}
        </div> 
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of list">
                        <td>{{ s.client.name }}</td>
                        <td>{{ s.desc }}</td>
                        <td>{{ s.value }}</td>
                        <td>{{ s.date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>